In [11]:
!ls ../assets

'Videos Test'		        labeled_dataset_drive.csv
'Videos Test.zip'	        single_extracted_landmarks.csv
 dataset_cluttered.zip	        single_extracted_landmarks_ambiguous.csv
 dataset_photos		        single_extracted_landmarks_bad.csv
 dataset_videos		        single_extracted_landmarks_inclass.csv
 extracted_landmarks.csv        single_extracted_landmarks_inclass_front.csv
 extracted_landmarks_test.csv   videos
 labeled_dataset.csv

In [2]:
import pandas as pd

In [12]:
data = pd.read_csv('../assets/labeled_dataset.csv')

In [15]:
data.head()

,video,group,frame,landmarks,Label
0,video_15.mp4,1,5,[ 334.75 178.55 0.98386 339....,bad
1,video_15.mp4,1,11,[ 329.95 181.47 0.99063 334....,bad
2,video_15.mp4,1,17,[ 329.7 182.92 0.99079 334...,bad
3,video_15.mp4,1,23,[ 329.32 187.55 0.98055 334....,bad
4,video_15.mp4,1,29,[ 331.31 194.96 0.985 335....,bad

In [16]:
data.groupby(['video', 'group'])

In [22]:
data['Label'].value_counts(normalize=True)*100

Label
good    54.928407
bad     45.071593
Name: proportion, dtype: float64

In [17]:
video_group_counts = data.groupby(['video', 'group']).size().reset_index(name='count')

In [21]:
video_group_counts['count'].value_counts(normalize=True)

count
10    0.900606
5     0.012727
7     0.012727
3     0.012121
2     0.012121
4     0.011515
1     0.010909
6     0.010303
9     0.008485
8     0.008485
Name: proportion, dtype: float64